<div class="container mt-5">
    <div class="row mt-5">
        <div class="col ml-3">
            <h3><strong>{{item && item.name | titlecase}}</strong></h3>
        </div>
    </div>
    <div class="row align-items-center" style="font-weight: bold;">
        <div class="col-3">
            <img [src]="item && item.img" [alt]="item && item.name" width="200px" height="200px" >
        </div>
        <div class="col-2">
            <h5 class="mb-5">Item details</h5>
            <ng-container *ngIf="item">
                Game name: <span style="font-weight: 100;">{{normalizedGameName}}</span>
                <div *ngFor="let attribute of item.attributes | keyvalue">
                    {{attribute.key | titlecase}}: <span style="font-weight: 100;">{{attribute.value | uppercase}}</span>
                </div>
            </ng-container>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-2 offset-2 adjust-icon">
                    <svg-icon src="assets/icons/star.svg"
                        [svgStyle]="{'width.px': 40, 'height.px': 40, 'fill':'rgb(47, 128, 240)'}" >
                    </svg-icon>
                </div>
                <div class="col-2 adjust-icon">
                    <svg-icon src="assets/icons/clock.svg"
                        [svgStyle]="{'width.px': 40, 'height.px': 40, 'fill':'rgb(47, 128, 240)'}" >
                    </svg-icon>
                </div>
                <div class="col-2">
                    <svg-icon src="assets/icons/business.svg"
                        [svgStyle]="{'width.px': 40, 'height.px': 40, 'fill':'rgb(47, 128, 240)'}" >
                    </svg-icon>
                </div>
                <div class="col-2">
                    <svg-icon src="assets/icons/commerce.svg"
                        [svgStyle]="{'width.px': 40, 'height.px': 40, 'fill':'rgb(47, 128, 240)'}" >
                    </svg-icon>
                </div>
            </div>
            <ng-container *ngIf="item">
                <div *ngFor="let seller of item.sellers" class="row mt-4 align-items-center">
                    <div class="col-2 text-break">
                        {{seller.name}}
                    </div>
                    <div class="col-2">
                        <div class="rating" 
                            [ngStyle]="seller.rating > 84 ? {'border-color': '#F5A84A', 'color': '#F5A84A'} : {'border-color': '#BE665B', 'color': '#BE665B'}"
                        >
                            {{seller.rating}}%
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="time-estimate">
                            {{seller.timeEstimate + " min"}}
                        </div>
                    </div>
                    <div class="col-2">
                        ${{seller.price}}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success">Buy</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>