.time-estimate {
    border-radius: 50%;
    background-color: #92D050;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
}

.rating {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 10px solid;
}

.adjust-icon {
    position: relative;
    left: 14px;
}