.items-table-header {
    background-color: #F4F4F4;
    color: #B6B7BB;
    height: 50px;
}

.grid-center {
    display: grid;
    place-items: center;
}

.grid-center-start {
    display: grid;
    place-items: center start;
}

.item-row {
    color: black;
    &:hover {
        background-color: rgb(237, 237, 237);
        text-decoration: none;
    }
}

.buy-button {
    width: 40%;
}
