<div class="container mt-5 mb-4">
    <div class="row">
        <form class="form-inline" #f="ngForm">
            <div *ngFor="let filter of filters | keyvalue">
                <div class="col">
                    <div class="form-group">
                        <label [for]="filter.key" class="mr-2">
                            {{filter.key | titlecase}}
                        </label>
                        <select class="form-control" [id]="filter.key"
                            (change)="addFilter(f.form)" ngModel [name]="filter.key"
                            ngModel="ALL"
                        >
                            <option>
                                ALL
                            </option>
                            <option *ngFor="let filterValue of filter.value"
                                [value]="filterValue"
                            >
                                {{filterValue | uppercase}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="mb-4">
<div class="container">
    {{filteredItems && filteredItems.length + " items"}}
    <div class="row items-table-header">
        <div class="col-8 text-center grid-center">
            <span>Products</span>
        </div>
        <div class="col-4 grid-center-start">
            <span>Delivery time</span>
        </div>
    </div>
    <div *ngFor="let item of filteredItems" class="item-row">
        <a [routerLink]="item.id" class="item-row">
            <div class="row pt-2 align-items-center">
                <div class="col-8">
                    <img [src]="item.img" width="60px" height="60px"/>
                    <span class="ml-3">{{item.name | titlecase}}</span>
                </div>
                <div class="col-4">
                    1-24 hours
                    <button class="btn btn-info ml-5 buy-button">
                        Buy
                        <svg-icon src="assets/icons/shopping_cart.svg"
                            [svgStyle]="{'width.px': 20, 'height.px': 20, 'fill':'rgb(255,255,255)'}" >
                        </svg-icon>
                    </button>
                </div>
            </div>
        </a>
        <hr style="margin-top: 10px; margin-bottom: 0;">
    </div>
</div>
