<div class="container-fluid">
    <div class="banner">
        <div class="banner-content">
            <h1>
                Make
                <span>in-game</span>
                <br/>
                trading great again
            </h1>
            <h5>
                Buy & Sell game currency, items, accounts and boosting services
            </h5>
        </div>
    </div>
</div>
<div class="container mt-5 about-us">
    <h3 class="section-name mb-4">
        Who We Are
    </h3>
    <p>
        The team behind Eldorado started trading almost 10 years ago. Since then we have bought and sold billions in in-game gold and millions of items in RuneScape, Path of Exile, World of Warcraft, Rocket League, CS:GO, and more. As buyers, sellers and gamers, we have seen it all, from honest-to-goodness dealers to scam victims with zero customer support. Harnessing years of experience and love for the market, and with a strong belief that together we can revolutionise in-game trading, we set out to build what Eldorado is today — a secure, easy-to-use shop with sterling support.
    </p>
</div>
<div class="container mt-5 pb-5">
    <h3 class="section-name mb-2">
        Games
    </h3>
    <div class="row">
        <div *ngFor="let game of allGames | keyvalue: originalOrder">
            <div class="col mt-3">
                <a [routerLink]="game.value.path" class="game-link">
                    <div class="image-filter">
                        <img 
                            [src]="game.value.primaryImg"
                            [alt]="game.key" 
                            class="game-image"
                        />
                    </div>
                    <span class="on-image">
                        <img [src]="game.value.secondaryImg" />
                        {{game.key}}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
