.banner {
    height: 300px;
    background-image: url(https://assets.eldorado.gg/images/others/v8/eldorado-home-banner.jpg);
        
    .banner-content {
        padding-top: 50px;
        padding-left: 20px;
        color: white;

        span {
            color: #FAC02B;
        }

        h5 {
            padding-top: 30px;
        }
    }
}

.section-name {
    text-align: center;
    font-weight: bold;
    color: #FAC52C;
}

.image-filter {
    overflow: hidden;

    &:after {
        /* Vignette filter */
        content: '';
        position: absolute;
        top: 0%;
        left: 4%;
        width: calc(100% - 30px);
        height: 100%;
        box-shadow: inset 0px -80px 60px -12px rgba(0,0,0,1);
    }
}

.game-link {
    &:hover {
        .game-image {
            transition: transform .5s ease;
            transform: scale(1.2);
        }
    }
}

.on-image {
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: white;
}
